.all-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem;
  }
.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.7rem;
    width: 100%
  }
.category {
    color: var(--blue2black);
    font-weight: bolder !important;
}