.nav {
    background-color: var(--black2white);
    color: var(--blue2black);
    display: flex;
    justify-content: space-between;
    align-items: stretch;    
    padding: 1rem;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    object-fit: scale-down;
    min-width: 640px;
    
}


.navbar_txt, .navbar_scroll_btn{
    font-size: 1rem;
    font-weight: lighter;
    color: var(--blue2black);
    background-color: var(--black2white);
    border: none;
    font-family: 'Montserrat';
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
}
/*.outline {
    border: 2px solid var(--blue2black);
    border-radius: 0.3rem;
}
style change for home and resume button ****/ 
.navbar_scroll_btn {
    padding: 0;
}
.navbar_btn, .toggle-dark-mode  {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: var(--blue2black);
    background-color: var(--black2white);
    border: 1.5px, solid, var(--blue2black);
    border-radius: 0.3rem;
    font-family: 'Montserrat';
    padding: 0.5rem;
   
}
.navbar-options{
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    align-items: center;
}