.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white2blue);
}
.skill-images-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vw;
    width: 80%;
    max-width: 80vw;
    margin-top: 1rem;
    
  }
  
  .skill-images {
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: lighter;
    transition: transform 0.3s ease-in-out;
  }
  .skill-images:hover {
    transform: scale(0.9);
  }
  