*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue2black: #CDDADF;    
    --black2white: #000000; 
    --white2blue: #ffffff; 
}
.dark-mode {
    --blue2black: #1b1111;   
    --white2blue: #CDDADF;
    --black2white: #ffffff; 
    background-color: var(--white2blue);
    transition: background-color 0.3s ease;
    height: 100%
}
body {
    font-family: "Montserrat";
    background-color: var(--white2blue);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--black2white);
}
/* navbar stylings*/
.nav {
    background-color: var(--black2white);
    color: var(--blue2black);
    display: flex;
    justify-content: space-between;
    align-items: stretch;    
    padding: 1rem;
}

.navbar_txt, .navbar_scroll_btn{
    font-size: 1rem;
    font-weight: lighter;
    color: var(--blue2black);
    background-color: var(--black2white);
    border: none;
    font-family: 'Montserrat';
    text-decoration: none;
}
.navbar_scroll_btn {
    
    padding: 0;
}
.navbar_btn, .toggle-dark-mode  {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--blue2black);
    background-color: var(--black2white);
    border: 1.5px, solid, var(--blue2black);
    border-radius: 0.3rem;
    font-family: 'Montserrat';
    padding: 0.5rem;
   
}
.navbar-options{
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    align-items: center;
}


